@import "reset.css";
@import "swiper/swiper-bundle.css";

.loading-spinner {
  display: none;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.head-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.header-title {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 50px 0 40px 20px;
}

.header-h1 {
  display: inline-flex;
  align-items: center;
  text-align: center;
}

.header-temperature-icon {
  width: 52px;
  height: 52px;
  margin-top: 10px;
}

.today-chart,
.weekly-chart {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
}

.swiper {
  margin: 0 50px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
}

.swiper-wrapper {
  height: 100vh;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0.5;
  padding: 15px 5px;
  border-radius: 20px;
  color: black;
}

.temperature-comparison {
  font-size: 20px;
  margin: 0 auto;
  margin-top: 40px;
}
